$colorWhite: #dfdfdf;
$tabColor: $colorWhite;

$colorPrimary: #501ea1;
$colorPrimaryDarker: #311068;
$colorSecondary: #2e3347;
$colorSecondaryDarker: darken($colorSecondary, 10%);
$colorPrimaryAccent: #fcb045;
$borderRadius: 10px;
$mainGradient: linear-gradient(90deg, rgb(253, 29, 29) 0%, rgb(252, 176, 69) 100%);
$mainGradientLong: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
$fontFamily: 'Open Sans', sans-serif;

$red: #de2828;
$green: #60d534;

#battleeye__live {
    // @import "~bulma/sass/utilities/initial-variables.sass";
    // @import "~bulma/sass/utilities/functions.sass";
    @import "./battleeye/layout.scss";

    width: 954px;
    position: relative;
    float: left;
    border-radius: 0px 0px 20px 20px;
    background-color: $colorSecondaryDarker;
    font-size: 14px;
    text-align: center;
    font-family: $fontFamily;

    #be_connected {
        width: 10px;
        height: 10px;
        background-color: gray;
        border-radius: 50%;
        transition: all 0.3s;

        &.is-connected {
            background-color: rgb(15, 194, 15);
            border-radius: 50%;
            box-shadow: green 0px 0px 5px;
            border: 1px solid white;
        }

        &.is-disconnected {
            background-color: rgb(255, 0, 0);
            border-radius: 50%;
            box-shadow: rgb(128, 0, 0) 0px 0px 5px;
            border: 1px solid white;
        }
    }

    .no-transitions * {
        transition: unset !important;
        transition-duration: 0s !important;
    }

    .be__logo {
        .spinner {
            width: 10px;
            height: 20px;
        }

        .spinner > div {
            background: $mainGradient;
        }
    }

    .spinner {
        width: 100%;
        height: 40px;
        text-align: center;
        font-size: 10px;
      }
      
      .spinner > div {
        background-color: $colorPrimaryAccent;
        height: 100%;
        width: 2px;
        display: inline-block;
        
        -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
        animation: sk-stretchdelay 1.2s infinite ease-in-out;
      }
      
      .spinner .rect2 {
        -webkit-animation-delay: -1.1s;
        animation-delay: -1.1s;
      }
      
      .spinner .rect3 {
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
      }
      
      .spinner .rect4 {
        -webkit-animation-delay: -0.9s;
        animation-delay: -0.9s;
      }
      
      .spinner .rect5 {
        -webkit-animation-delay: -0.8s;
        animation-delay: -0.8s;
      }
      
      @-webkit-keyframes sk-stretchdelay {
        0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
        20% { -webkit-transform: scaleY(1.0) }
      }
      
      @keyframes sk-stretchdelay {
        0%, 40%, 100% { 
          transform: scaleY(0.4);
          -webkit-transform: scaleY(0.4);
        }  20% { 
          transform: scaleY(1.0);
          -webkit-transform: scaleY(1.0);
        }
      }

    .battleeye {
        &__tab-content {
            color: $tabColor;
            background-color: $colorSecondary;
            border-radius: 4px;
            padding: 5px 0;
        }

        &__nbp-progress {
            width: 100%;
            height: 5px;
            overflow: hidden;
            background-color: $colorSecondary;
        }

        &__nbp-progress-bar {
            transition: width 1s linear;
            height: 5px;
            background: $mainGradientLong;
        }
    }

    // @import "~bulma/bulma.sass";
    @import "./battleeye/panel.scss";
    @import "./battleeye/divisions.scss";
    @import "./battleeye/charts.scss";
    @import "./battleeye/settings.scss";
    @import "./battleeye/about.scss";
    @import "./battleeye/firstkills.scss";
    @import "./battleeye/deploy.scss";
    @import "./battleeye/other.scss";
    // @import "./battleeye/bulma_custom.scss";
}

@import "./battleeye/monitor.scss";