.battleeye__about {
    padding: 1em;

    h1, h2 {
        color: $colorWhite;
        font-family: inherit;
        font-weight: bold;
        padding: 5px;
        margin-bottom: 5px;
    }

    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.5em;
    }

    .tags:not(:last-child) {
        margin-bottom: 0;
    }
}