.be__about {
    padding: 1em;

    h1, h2 {
        color: $colorWhite;
        font-family: inherit;
        font-weight: bold;
        padding: 5px;
        margin-bottom: 5px;
    }

    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.5em;
    }

    .tags:not(:last-child) {
        margin-bottom: 0;
    }
    
    &-contributorsTitle {
        font-weight: 300;
    }

    &-contributors {
        margin-top: 20px;
        margin-bottom: 20px;

        a {
            margin-right: 10px;
            display: inline-block;
        }
    }

    .bug {
        border-left: 3px solid $colorPrimaryAccent;
        padding-left: 10px;
        margin-bottom: 4px;

        .bug-problem, .bug-solution  {
            padding: 2px 5px;
            background-color: darken($colorSecondary, 10%);
        }

        .bug-problem {
            border-radius: 5px 5px 0 0;
        }

        .bug-text {
            background-color: $colorWhite;
            color: $colorSecondary;
            padding: 5px;
        }

        .bug-text:last-child {
            border-radius: 0 0 5px 5px;
        }
    }
}