.battleeye__countries {
    .filters {
        background-color: darken($colorMainbg, 10%);
        padding: 5px;
        border-bottom: 4px solid darken($colorMainbg, 5%);
    }

    .country-row {
        border-bottom: 2px solid darken($colorMainbg, 5%);
        height: 30px;
    }

    .columns:not(:last-child), .tags:not(:last-child) {
        margin-bottom: 0;
    }

    .column {
        padding: 2px 0;
        flex-basis: auto;
    }

    .tag {
        margin-bottom: 0;
    }
}