$progressHeight: 15px;

.battleeye__division {
    border-bottom: 1px solid darken($colorSecondary, 5%);
}

.highlight-div {
    background-color: #342a5a;
}

.division {
    &__name, &__stats, &__domination {
        border-right: 1px dotted darken($colorSecondary, 10%);
    }

    &__domination {
        padding: 0 5px !important;
    }

    &__name {
        font-weight: bold;
        max-width: 60px;
    }

    &__feed {
        color: $colorSecondary;
        width: 100%;
        background-color: lighten($colorSecondary, 60%);
    }

    &__stats {
        padding: 0 5px !important;
        width: 35%;
    }
}

.battleeye__versus {
    display: flex;
    justify-content: center;
    position: relative;
    height: 40px;
    line-height: 40px;
    background-color: darken($colorSecondary, 10%);
    color: $colorWhite;

    &-round {
        padding: 0 10px;
        background: $mainGradient;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &-side {
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1px;
        display: flex;
        align-items: center;
    }
}

.stats-field {
    display: flex;
    justify-content: space-between;
    margin: 3px 0;

    & > *:not(:last-child) {
        margin-right: 5px;
    }

    .tag {
        border-radius: $borderRadius;
        background-color: $colorSecondaryDarker;
        font-size: 12px;

        &.is-negative {
            background-color: $red;
        }

        &.is-positive {
            background-color: $green;
            color: $colorSecondaryDarker;
        }
    }
}

.battleeye__domination-bar {
    width: 100%;
    text-align: left;
    margin-bottom: 5px;

    &::after {
        content: "";
        clear: both;
        display: table;
    }

    .progress-bar {
        background-color: darken($colorSecondary, 15%);
        position: relative;
        border-radius: 4px;
        overflow: hidden;
        height: $progressHeight;

        &::after {
            content: "";
            clear: both;
            display: table;
        }
    }

    .progress-leftvalue, .progress-rightvalue {
        position: absolute;
        font-size: 0.9em;
        font-weight: bold;
        color: $colorSecondary;
        line-height: $progressHeight;
        padding: 0 6px;
        width: 80px;
    }

    .progress-leftvalue {
        text-align: right;
        right: 50%;
    }

    .progress-rightvalue {
        text-align: left;
        left: 50%;
    }

    .progress-difference {
        font-size: 0.8em;
        padding-left: 10px;
        border-left: 1px dotted darken($colorSecondary, 10%);
        color: darken($colorWhite, 20%);
    }

    .progress-center {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -1px;
        width: 2px;
        height: $progressHeight;
        background-color: lighten($colorSecondary, 20%);
    }

    .progress-name {
        font-weight: bold;
        font-size: 0.8em;
        margin-right: 10px;
    }

    .left-progress, .right-progress, .left-actual-progress, .right-actual-progress {
        height: $progressHeight;
        float: left;
        will-change: width;
        transition: width 0.3s ease-in-out;
    }

    .left-progress {
        background-color: lighten($green, 14%);
    }

    .right-progress {
        background-color: lighten($red, 10%);
    }

    .left-actual-progress {
        background-color: $green;
    }

    .right-actual-progress {
        background-color: $red;
    }

    .progress-bar-gain {
        width: 100%;
        text-align: center;
        line-height: 1;
        margin-top: 2px;
        margin-bottom: -10px;

        .positive {
            color: $green;
        }

        .neutral {
            color: darken($colorSecondary, 10%);
        }

        .negative {
            color: $red;
        }
    }
}