.battleeye__settings {
    flex-wrap: wrap;

    .section-title {
        font-weight: bold;
        width: 100%;
        padding: 5px 1em;
        background-color: darken($colorMainbg, 10%);
    }

    .column {
        padding: 0 0 10px 0;
        border-left: 2px solid darken($colorMainbg, 10%);
    }

    .setting-name {
        background-color: darken($colorMainbg, 10%);
        border-color: darken($colorMainbg, 10%);
        color: $colorWhite;

        &:hover {
            border-color: darken($colorMainbg, 10%);
            cursor: inherit;
        }
    }

    .setting-input {
        display: inline-flex;
        height: 26px;
        width: 70px;
        margin-bottom: 8px;
        padding: 3px;
        text-align: center;
    }

    .setting {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 5px;

        &:not(:last-child) {
            border-bottom: 1px solid darken($colorMainbg, 10%);
        }
    }
}